<nav class="navbar navbar-expand-lg navbar-dark bg-primary  ",style: "height:300px;">
  <div class="container-fluid mt-20">
    <div class="navbar-brand" href="#"><%= link_to 'Home', new_post_path  %></div>
      
   

    <div class="navbar-brand" href="#"><%= link_to 'Post', posts_path %></div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
     
     
    </div>
  </div>
</nav>


